@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.left-pane {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 15rem; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #2b6777;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  position: sticky;
  margin-left: 15rem;
  display: flex;
  gap: 1.2rem;
}

.search {
  background-color: #52ab98;
  height: 3rem;
  margin-left: 15rem;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.links {
  margin-left: 15rem;
  background-color: #52ab98;
  overflow: auto;
  position: sticky;
  box-shadow: 0 0.3em 0.3em rgba(0, 0, 0, 0.3);
  z-index: 1;
  top: 0;
}
.svg {
  height: 24px;
  width: 24px;
}

.search-bar {
  width: 100%;
  background: rgba(255, 255, 255, 0.564);
  border-radius: 8px;
  box-shadow: 0 0.3em 0.3em rgba(0, 0, 0, 0.3);
  padding: 8px 6px;
  color: gray;
  border: none;
  outline: none;
}

header {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  padding-left: 10px;
  padding-top: 14px;
  padding-bottom: 14px;
  /* box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.3); */
  z-index: 10;
  position: relative;
}

a {
  display: block;
  text-decoration: none;
  float: left;
  clear: both;
  color: #ffff;
}

.left-pane a {
  margin-left: 1.5rem;
}

.bottom-links {
  margin-bottom: 1.5rem;
}

.dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

svg {
  margin-right: 10px;
}

li {
  display: flex;
  list-style: none;
  padding-bottom: 20px;
}

li:hover {
  color: #bdbdbd;
}

input {
  margin-left: 0.5rem;
  margin-right: 1.5rem;
}

header div {
  margin-right: 1rem;
}

h1 {
  font-size: 1.7rem;
  color: #ffff;
}

span {
  margin-left: 2.7rem;
  font-size: 24px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
}

/* button {
  padding: 5px 10px;
  margin-right: 1rem;
  border-radius: 12px;
} */

.main-left {
  /* resize: both; */
  /* overflow: auto; */
  display: grid;
  gap: 4px;
  padding: 4px;
  /* border: 1px solid grey; */
  background-color: #e7e5e4;
  grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-columns: repeat(2, 1fr);
}

.box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  margin: 0.5rem;
  box-shadow: 5px 10px 8px #888888;
  /* outline-color: red; */
  background-color: #9cc1b9;
  border-radius: 8px;
}

img {
  width: 100%;
  max-width: 370px;
  height: auto;
  align-self: center;
}

.svgs {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  align-self: flex-end;
}

.main-right {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-right: 1rem;
}

body {
  background-color: #e7e5e4;
}

.hello {
  color: white;
}

button {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  font-weight: 700;

  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #494949;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
  margin-left: 0.5rem;
}

.buttons {
  margin-right: 1.5rem;
}

button:hover {
  background-color: #f0f3f3;
}

button:active {
  border-color: #009691;
  box-shadow: rgba(123, 120, 120, 0.5) 0 2px 5px 0;
  outline: 0;
}

.my-projects {
  margin-top: 0.7rem;
  margin-left: 1.7rem;
}

.container {
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  background-color: #9cc1b9;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 5px 10px 8px #888888;
}

hr {
  margin: 0 auto;
  width: 100%;
  border: 0;
  height: 2px;

  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0)
  );
}

.container-announcements,
.container-trending {
  color: rgb(65, 65, 65);
  padding: 0.5rem;
  /* margin-bottom: 2rem; */
  /* font-size: 15px; */

  /* text-shadow: 1px 1px #9d9d9d; */
}

.container-titles {
  font-weight: bold;
  color: rgb(44, 44, 44);
  margin-bottom: 0.5rem;
}

.titles {
  font-size: 1.3rem;
  color: rgb(60, 60, 60);
}

.main-projects-left {
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.announcements {
  margin-top: 0.9rem;
  margin-bottom: 2rem;
}

footer {
  margin: 1.5rem 0rem 1.5rem 15rem;
  display: flex;
  justify-content: center;
  gap: 0.2rem;
}

footer a {
  color: #52ab98;
}

footer a:hover {
  color: #889996;
}
